OPENSEA_API_KEY=YOUR_OPENSEA_API_KEY
BOT_ENABLED=false
INK_RPC_URL=https://rpc-gel.inkonchain.com/
MAX_GAS_FEE_USD=0.05
MAX_BUY_QTY=20
MAX_PARALLEL_DISCOVERY=8
POLL_INTERVAL=2
STATE_DB=nft_bot.sqlite3
PRIVATE_KEYS=key1,key2
WALLETS=0xWallet1,0xWallet2
TELEGRAM_BOT_TOKENS=token1,token2
TELEGRAM_CHAT_IDS=chat1,chat2
